.navbar {
  width: 13vw;
  height: 100vh;
  background-color: #fff;
  align-items: flex-start;
  position: fixed;
  &__list {
    width: 100%;
  }
  &__list-item {
    list-style-type: none;
    margin-top: 50px;
    width: 100%;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &__icon {
    width: 30px;
    height: 24px;
  }

  &__text {
    font-size: large;
    padding-left: 10px;
    text-decoration: none;
    color: gray;
  }
}
