.suggestions {
  background-color: #f4f2f2;
  position: absolute;
  z-index: 10;
  overflow: auto;
  height: 100px;
  width: 100%;
  border-radius: 5px;
}

.suggestion {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 30px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: #cfcccc;
  }
}

#cityInput {
  position: relative;
}
