.button {
  padding: 10px 20px;
  margin: 0px 30px 20px 30px;
  border-radius: 5px;
  text-transform: capitalize;
  width: 100%;
  &--primary {
    border: none;
    background-color: #7e56da;
    color: white;
    &:hover {
      background-color: #764ed4;
    }
  }
  &--secondary {
    border-color: #9675e4;
    border-width: 1px;
    background-color: #fff;
    color: #7e56da;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &--circle {
    width: 50px;
    padding: 0;
    margin: 0 15px 0 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100%;
    background-color: #f5f5f5;
    font-size: 25px;

    &:hover {
      background-color: #edeaea;
    }
  }
}
