input {
 display: block;
 width: 100%;
 padding: 10px;
 margin-top: 10px;
 border-radius: 5px;
 border: 1px solid #ccc;
 &--submit {
  width: 100%;
  background-color: #7e56da;
  color: white;
  padding: 10px 20px;
  margin: 20px 0px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:hover {
   background-color: #764ed4;
  }
 }
}

label {
 font-size: 15px;
 margin-top: 10px;
}

.error {
 border: 1px solid red;
}

.search-field {
 position: absolute;
 top: 20px;
 right: 5%;
 width: 200px;
 height: 200px;
 margin-bottom: 50px;
 transform: all 1s ease;

 &__input {
  &--big {
   position: absolute;
   padding-left: 20px;
   width: 250px;
   right: 0;
   border-radius: 100px;
   transition: all 0.7s ease;
   outline: none !important;
  }

  &--small {
   position: absolute;
   padding-left: 20px;
   width: 44px;
   right: 0;
   border-radius: 100px;
   transition: all 0.7s ease;
   outline: none !important;
  }
 }

 &__icon {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  right: 1.3px;
  top: 11.4px;
  border-radius: 100%;
  background-color: #fff;
 }
}

@media only screen and (max-width: 900px) {
 .search-field {
  right: 5%;
  &__input--big {
   width: 200px;
  }
 }
}
