.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-page--element {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loading-page--element:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: loading-page--element 1.2s linear infinite;
}

@keyframes loading-page--element {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
