.user-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 216, 71, 0.7);
  border-radius: 100%;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
}
