.user-image {
 display: flex;
 justify-content: center;
 align-items: center;
 text-transform: uppercase;
 width: 60px;
 height: 60px;
 border-radius: 100%;
 font-size: 30px;
 font-weight: bold;
 color: #fff;
 margin-left: 10px;
}
